# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Distribution / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# GCP / credentials
# =========================
*.json

/settings